Repository sibiraj-s/ai-chat-example: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, prettier --write

Add tool calling
  package-lock.json
  package.json
  src/index.ts
Due: oxlint --fix, prettier --write

Add makefile commands
  Makefile
  package.json
Due: prettier --write

Add .env.example
  .env.example
Due: none

Add mock tests with evalite
  .env.example
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/test.eval.ts
Due: oxlint --fix, prettier --write

Add LICENSE
  LICENSE
Due: none

Update github workflow job name
  .github/workflows/test.yml
Due: prettier --write

Remove unset secrets from github workflows
  .github/workflows/test.yml
Due: prettier --write

Skip husky in CI
  .github/workflows/test.yml
Due: prettier --write

Move system prompt to rules.txt
  src/index.ts
  src/rules.txt
Due: oxlint --fix, prettier --write

Fix workflow permissions
  .github/workflows/test.yml
Due: prettier --write

Fix workflow permissions (#7)
  .github/workflows/test.yml
Due: prettier --write

Bump ci actions
  .github/workflows/test.yml
Due: prettier --write

Fix ai sdk v5 usage
  src/index.ts
Due: oxlint --fix, prettier --write

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Update github actions
  .github/workflows/test.yml
Due: prettier --write

Bump dependencies
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: prettier --write

Prisma 7 and sqlite
  .env.example
  .gitignore
  README.md
  package-lock.json
  package.json
  prisma.config.ts
  prisma/migrations/20250309181513_init/migration.sql
  prisma/migrations/20260312044412_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/index.ts
  tsconfig.json
Due: oxlint --fix, prettier --write

Bump dependencies
  .lintstagedrc.yml
  .oxfmtrc.json
  .prettierrc.yml
  mise.toml
  package-lock.json
  package.json
Due: prettier --write

Bump dependencies
  .github/workflows/test.yml
  mise.toml
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: oxlint --fix, prettier --write

Bump dependencies
  package-lock.json
  package.json
  src/test.eval.ts
  vitest.config.ts
Due: oxlint --fix, prettier --write

Path conditions:
  oxlint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{md,yml,yaml,json})
